{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
    TODO list
    <a href="{% url 'todo_app:task-create' %}" class="btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <p>{{ task.content }}</p>
          {% if task.done %}
            <p style="color: green;">Done</p>
            <a
            href="{% url 'todo_app:toggle-task-assign' pk=task.id %}"
            class="btn btn-success">Complete</a>
          {% else %}
            <p style="color: red;">Not done</p>
            <a
            href="{% url 'todo_app:toggle-task-assign' pk=task.id %}"
            class="btn btn-secondary">Undo</a>
          {% endif %}
          <br>
          <p>Created: {{ task.datetime }}</p>
          {% if task.deadline %}
            <p style="color: brown;">Deadline: {{ task.deadline }}</p>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks yet</p>
  {% endif %}
{% endblock %}
